# OIDC issuer URL (min-idp external URL)
VITE_OIDC_ISSUER=http://192.168.1.107:8081

# Public client ID registered in min-idp
VITE_OIDC_CLIENT_ID=oidc-public-test-sp

# Must match redirect_uris on the OIDC client
VITE_OIDC_REDIRECT_URI=http://192.168.1.107:5173/callback
